n8n노드용json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -340,
        -120
      ],
      "id": "5093219a-8a15-4d3d-9ca4-78ff73c6a3c0",
      "name": "When chat message received",
      "webhookId": "47c6ec34-a903-4451-a720-2c25abeed3d3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -520,
        120
      ],
      "id": "336d6328-9a48-4d65-9c46-fdda58dfa00e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -540,
        340
      ],
      "id": "e072c621-cab7-407c-b666-da4365acfd21",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "본인아이디및api",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "너는 지금부터 가계부를 전문적으로 기억하는 전문가야.\n사용자가 어떠한 질문을 하던 가계부에 대한 내용을 알려줘\n아예 일치하는 내용이 없다면 대답하지말아줘.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -260,
        360
      ],
      "id": "79689105-7ea9-4417-b5f4-51b1c2f2da6f",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "본인아이디및api",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        820,
        480
      ],
      "id": "fb92433c-d50c-4ed0-b63b-392901d62984",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "본인아이디및api",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1bAGnPfPavzvGFL4_NsujdqHURFIPgwfPiOuXO5f2Ljo?fields=sheets.properties.title&key=AIzaSyBJoBYyGWzOp9DIm6NJUkhCSTHNBCWQKHE",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        -980
      ],
      "id": "83a6f14f-fb82-4a55-b655-60a3808a211b",
      "name": "HTTP Request",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "본인아이디및api",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 사용자가 필터링할 연도\nconst targetYear = \"2023\";\n\n// 필터링하여 결과 items 반환 및 sheetName 컬럼으로 변환\nconst filteredSheets = $input.first().json.sheets\n  /*  .filter(item => item.properties.title.startsWith(targetYear))*/\n    .map(item => {\n        return {\n            json: {\n                sheetName: item.properties.title\n            }\n        };\n    });\n\nreturn filteredSheets;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        100,
        -760
      ],
      "id": "cd2eeffd-fe64-4249-ae6a-a5f4f9f027da",
      "name": "getSheetName"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "56efe76e-bdef-4de1-9fa6-736bd27d3aeb",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -980,
        120
      ],
      "id": "977521f8-3cda-4258-adb6-4212945c1fba",
      "name": "Webhook",
      "webhookId": "56efe76e-bdef-4de1-9fa6-736bd27d3aeb"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -60,
        120
      ],
      "id": "87351be4-e626-4323-8e09-ec107cccef0a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=$json.body.sessionId"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -400,
        340
      ],
      "id": "c8c81959-5b61-4dd1-acf5-17cb794bedb9",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "본인아이디및api",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const payload = (item.json?.body ?? [])[0] ?? {};\n  return {\n    json: {\n      sessionId: payload.sessionId || \"\",\n      action: payload.action || \"sendMessage\",\n      chatInput: payload.chatInput || \"\"\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        300
      ],
      "id": "3faf8697-bf4f-4d30-84c5-8bab8ad48eaf",
      "name": "chatJsonTrans",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1NOkeUuY8qEsgz2WJXAD5BXJn3O9nOmP11kJJO0XCzDQ?fields=sheets.properties.title&key=AIzaSyBJoBYyGWzOp9DIm6NJUkhCSTHNBCWQKHE",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        -760
      ],
      "id": "c44a16d9-89f9-4924-802f-bf487699232d",
      "name": "budgetFile",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "본인아이디및api",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NOkeUuY8qEsgz2WJXAD5BXJn3O9nOmP11kJJO0XCzDQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.sheetName }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        340,
        -600
      ],
      "id": "544ec797-6a48-4784-ae0e-5865227e6529",
      "name": "getRowExcel1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "본인아이디및api",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const text = `구분: ${item.json['구분1']}, 내역: ${item.json['내역']}, 금액: ${item.json['금액']},  날짜: ${item.json['날짜']}, 메모: ${item.json['MEMO'] || ''}`;\n  return { \n\tjson: { \n\t\tcontext: text,\n\t\tmetadata : {source_date: item.json['날짜']}\n\t} \n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -800
      ],
      "id": "b18e0442-3c96-4a04-a2f9-3cd491fa6cd6",
      "name": "changeEmbedding1"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('changeEmbedding1').item.json.context }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Documents",
                "value": "={{ $('changeEmbedding1').item.json.metadata.source_date }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1080,
        -500
      ],
      "id": "6d4b5ae7-08e0-4fbb-9a7a-19913d2ffccc",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1300,
        -640
      ],
      "id": "0099452d-f870-44de-8197-efb16028dac9",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        900,
        -800
      ],
      "id": "0b936ba4-f592-4d9e-b9a5-e16d94d72360",
      "name": "Supabase Vector Store3",
      "credentials": {
        "supabaseApi": {
          "id": "본인아이디및api",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        340,
        -780
      ],
      "id": "67e6445b-9166-4f36-9591-602543e72b45",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        500,
        -600
      ],
      "id": "d71017e1-5f45-4c9f-ad23-2584f62b377d",
      "name": "Wait1",
      "webhookId": "cd76690e-1124-4d3a-9a90-e414d93883da"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        100,
        -300
      ],
      "id": "dc92cbf9-4cba-4847-a0e5-ac7021e82e43",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        -80
      ],
      "id": "507209ef-1226-4260-b009-72875bdc71d6",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "본인아이디및api",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "너는 지금부터 가계부를 전문적으로 기억하는 전문가야.\n사용자가 어떠한 질문을 하던 가계부에 대한 내용을 알려줘\n아예 일치하는 내용이 없다면 대답하지말아줘.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        380,
        -60
      ],
      "id": "9d0c0284-0683-435d-9491-370cbd9255cb",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "본인아이디및api",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=$json.body.sessionId"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        220,
        -80
      ],
      "id": "0ffb68a5-bab5-4f02-92b8-67e98e3479b1",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "본인아이디및api",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store3",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "getSheetName": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "chatJsonTrans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "chatJsonTrans": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "budgetFile": {
      "main": [
        [
          {
            "node": "getSheetName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getRowExcel1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store3",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        []
      ]
    },
    "changeEmbedding1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "changeEmbedding1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "getRowExcel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0cf72acc-8011-42f4-a000-3919450e87eb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b21355766dd643945c272f42d5a55f96514f1d254693a404c2b3b11f557a7214"
  },
  "id": "34lgKOpEIWGStYM4",
  "tags": []
}
